@model BlueInvoicer.ViewModels.InvoiceFormViewModel

@{
    ViewBag.Title = "Raise Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Raise Invoice</h2>

@using (Html.BeginForm("Create", "Invoice"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <p class="lead">@Model.Client.ClientName</p>
    </div>

    <div class="form-group">
        @*dropdown to select contract*@
        @Html.LabelFor(m => m.Contracts)
        @Html.DropDownListFor(m => m.Contracts, new SelectList(Model.Contracts, "Id", "Name"), "Select contract", new {@class="form-control"})
        @Html.ValidationMessageFor(m => m.Contracts)
    </div>

    <div class="form-group">
        @*dropdown to select rate type*@
        @Html.LabelFor(m => m.RateType)
        @Html.DropDownListFor(m => m.RateType, new SelectList(Model.RateType, "Id", "Rate"), "Select Rate Type", new {@class="form-control"})
    </div>

    <div class="form-group">
        @*input to confirm rate*@
        @Html.LabelFor(m => m.Rate)
        @Html.TextBoxFor(m => m.Rate, new {@class="form-control"})
    </div>

    <div class="form-group">
        <div class="date-pick"></div>
    </div>

    <!-- button to insert selected content into invoice, then clears inputs to allow for next -->
    <button type="button" class="btn btn-default">Add to Invoice</button>

    <hr/>

    <button type="submit" class="btn btn-primary">Raise Invoice</button>
}


@section scripts
{
    @Scripts.Render("~/bundles/datepicker")
    
    <script>
        //$(document).ready(function () {
        //    InvoiceController.init();
        //});

        $(function() {
            $('.date-pick')
                .datePicker({
                    inline: true,
                    selectMultiple: true,
                    startDate: '01/01/2016'
                })
                .bind('click',
                    function() {
                        $(this).dpDisplay();
                        this.blur();
                        return false;
                    })
                .bind('dateSelected',
                    function(e, selectedDate, $td, state) {
                        console.log('You ' + (state ? '' : 'un') + 'selected ' + selectedDate);
                        console.log(e, selectedDate, $td, state);
                    });
        });
    </script>
}
