@model IEnumerable<BlueInvoicer.Models.Client>

@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clients</h2>

<a href="@Url.Action("Create", "Clients")" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span> Add Client
</a>

<hr/>

<ul class="list-group">
    @foreach (var client in Model)
    {
        <li class="list-group-item">
            <div class="btn-group pull-right">
                <a href="@Url.Action("Edit", "Clients", new {id = client.ClientId})" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </a>
                <a href="@Url.Action("Create", "Contracts", new {id = client.ClientId})" class="btn btn-default">
                    <span class="glyphicon glyphicon-file"></span> Add Contract
                </a>
            </div>
            <h4 class="list-group-item-heading">@client.ClientName</h4>
            <p class="list-group-item-text">@client.Address</p>
        </li>
    }
</ul>